$top: #31352B;
$title: #243f4d;
$accent: #63A60E;
$accent--light: #77c90c;
$num: #CF3E3B;
$active: #E0EDCF;
$advantages: #505050;
$bg: #F6F6F6;

%Lato-300{
  font-family: 'Lato-Light', sans-serif;
  font-weight: 300;
}

%Lato-400{
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 400;
}

%Lato-600{
  font-family: 'Lato-Semibold', sans-serif;
  font-weight: 600;
}

%Lato-700{
  font-family: 'Lato-Bold', sans-serif;
  font-weight: 700;
}

%Signika-600{
  font-family: 'Signika-SemiBold', sans-serif;
  font-weight: 600;
}

%Signika-700{
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
}

%text-14 {
  font-size: 14px;
  line-height: 1.4;
}

%btn {
  @extend %Lato-400;
  padding: 12px 24px;
  color: #fff;
  background-color: $accent;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #000;    
  }
  
  &:hover {
    background-color: $accent--light;
    color: #fff;
  }

  &:active {
    background-color: #fff;
    color: $accent;
    border: 1px solid #000;   
  }
}

