$green-900: #63A60E;
$green-200: #E0EDCF;
$green-100: #EFF6E7;
$dark-green-500: #436372;
$dark-900: #121212;
$dark-800: #31352B;
$dark-500: #505050;
$red-900: #CF3E3B;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$silver-600: #C1C1C1;
$silver-200: #F5F5F5;
$silver-100: #F6F6F6;
$white: #FFF;

$title: #243f4d;
$accent--light: #77c90c;
$input: #4F4F4F;

%link {
  border: 1px solid transparent;
  transition: opacity 0.5s, border-bottom 0.5s, border 0.5s ;

    &:focus,
    &:active,
    &:hover {
      opacity: 0.7; 
    }
}
